- if object.errors.any?
  #error_explanation
    .alert.alert-danger
      -# 単純に改行して書くと出力も改行されて出力されるのでテストでこける
      = "The form contains #{ pluralize(object.errors.count, 'error') }."

    %ul 
      - object.errors.full_messages.each do |msg|
        %li= msg